<header>
    <mat-toolbar class="d-flex space-between"color="accent">
        <button mat-raised-button color="primary" routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <p class="d-inline">Home</p>
        </button>
        <div class="header-menu">
            <a mat-menu-item routerLink="/login">se connacté</a>
            <a mat-menu-item routerLink="/register">créer un conte</a>
            <a mat-menu-item routerLink="/list">Mais zarticle</a>
        </div>
    </mat-toolbar>
</header>